<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Sitecore.Framework.Fields.AdvanceImageField.DefaultThumbnailFolderId" value="{F0377A0E-D62F-46DE-B3A9-654BE9FF7E14}" />
    </settings>
    
    <mediaLibrary>
      <requestProtection>
        <protectedMediaQueryParameters>
          <parameter description="cx" name="cx"/>
          <parameter description="cy" name="cy"/>
          <parameter description="cw" name="cw"/>
          <parameter description="ch" name="ch"/>
        </protectedMediaQueryParameters>
        <customMediaQueryParameters>
          <parameter description="cx" name="cx"/>
          <parameter description="cy" name="cy"/>
          <parameter description="cw" name="cw"/>
          <parameter description="ch" name="ch"/>
        </customMediaQueryParameters>
      </requestProtection>
      <requestParser type="Sitecore.Resources.Media.MediaRequest, Sitecore.Kernel">
        <patch:attribute name="type">Sitecore.Resources.Media.CropMediaRequest, Sitecore.Framework.Fields</patch:attribute>
      </requestParser>
    </mediaLibrary>

    <pipelines>
      <getMediaStream>
        <processor type="Sitecore.Resources.Media.CropProcessor, Sitecore.Framework.Fields" patch:instead="*[@type='Sitecore.Resources.Media.ThumbnailProcessor, Sitecore.Kernel']" />
      </getMediaStream>
    </pipelines>

    <settings>
      <setting name="Media.RequestExtension">
        <patch:attribute name="value"></patch:attribute>
      </setting>
      <setting name="Media.LowercaseUrls" >
        <patch:attribute name="value">true</patch:attribute>
      </setting>
    </settings>
    <encodeNameReplacements>
      <replace mode="on" find=" " replaceWith="-"/>
    </encodeNameReplacements>
  </sitecore>
</configuration>